#Database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432


#Frontend configuration
FRONTEND_PORT=3000
FRONTEND_URL=http://127.0.0.1:${FRONTEND_PORT}

#Backend configuration
ADMIN_USERS=admin_user_email@uis.no,admin_user_email_2@uis.no
BACKUP_DIR=/app/instance/backups
BACKEND_PORT=5000
BACKEND_URL=http://127.0.0.1:${BACKEND_PORT}
SECRET_KEY=
FEIDE_CLIENT_ID=
FEIDE_CLIENT_SECRET=

#Mail configuration
MAIL_USERNAME = "studieplanrevisjon@uis.no"
MAIL_PASSWORD = "testpassord"
MAIL_SERVER = "smtp.ux.uis.no"
MAIL_PORT = 587
MAIL_DEFAULT_SENDER = "studieplanrevisjon@uis.no"

DEBUG=False